<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>{{comment_text}}</span>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}}</a> | Posted by {{user.username}} on {{created_at}}
    </div>
</article>